<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2"></script>

    <!-- clipboard.js -->
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

    <title>ZoKrates Kit </title>

    </style>
</head>
<body>

    <div class="container text-center">


        <div class="row box" style="text-align:center;">
                        
            <h1 style="text-align:center; margin-left: 40%;"> ZoKrates Kit</h1>
            
        </div>


        <div class="row box">

            <div class="col-8">
                <h4> How many Proofs do you want to combine? </h4>
            </div>
            <div class="col-4"> 
                <div class="dropdown" style="margin-top: 5px;">
                    <select id="number_of_proofs"  class="form-select" aria-label="Default select example" onchange="loadProofChoose()">
                        <option selected>Open this select menu</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                </div>
            </div>

        </div>

        <div class="row box">

            <div id="container" class="container"> 

            </div>

        </div>

        <div class="row box">

            <button onclick="generateCode()">Code generieren</button>

        </div>

        <div class="row box">

        <div id="codeContainer">
            <pre><code id="codeSnippet" ></code></pre>
            <!-- <button onclick="copyCode()">Kopieren</button> --> 
            <!-- <a id="downloadLink" download="code.txt" href="#">Herunterladen</a>  --> 
        </div>

        </div>






</div>

</body>
</html>
